/*======= Font rengini #3C373B yapan bir yeni bir universal selector yaratın*/
body {
  color: #3c373b;
  margin: 0 !important;
}
h1 {
  font-family: "Gaegu", cursive;
  margin: 20px 0;
  /*=======  Font size'ı 60px yapın ve text'i ortalayın(center) */
  text-align: center;
  font-size: 60px;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Gaegu", cursive;
  margin-bottom: 0;
  padding: 0 10px;
  /*=======  Font size'ı 30px yapın*/
  font-size: 30px;
}

/*======= Sayfadaki TÜM p tag'leri için aşağıdaki özellikleri içeren bir selector yaratın:*/

p {
  font-size: 16px;
  font-family: roboto;
  padding: 10px;
  line-height: 1.4;
}

/*======= Sayfadaki TÜM imajlar için aşağıdaki özellikleri içeren bir selector yaratın:*/

img {
  border-radius: 10px;
}

.content-row {
  display: flex;
}

.content-row div {
  /*======= margin propery yaratın.  Değerini 20px olarak atayın*/
  margin: 20px;
}

.container {
  /*======= width property yaratın. Değerini 605px olarak atayın */
  margin: 0 auto;
  width: 800px; /* 605px olunca kısa kalıyor genişlik. Alt alta geliyor.*/
}

.container header nav a {
  margin: 0 10px;
  border: 1px solid lightgray;
  padding: 20px;
  display: inline-block;
  border-radius: 20px;
  color: white;
  text-decoration: none;
  margin-bottom: 20px;
  /*======= background property yaratın. Değerini #E79947 olarak atayınız.*/
  background: #e79947;
}

.container header nav a:hover {
  /*======= background property yaratın ve değeri white olsun.  Sonra, color property yaratın ve değerini yapın. */
  background: white;
  color: #e79947;
}
.banner {
  background-color: rgb(243, 239, 239);
  text-align: center;
  height: 300px;
  width: 100%;
  display: flex;
  align-items: center;
}

.banner img {
  height: 250px;
  width: 100%;
  margin-left: 5%;
  margin-right: 5%;
}
/*======= Hakkmızda bölümü için aşağıdaki stilleri içeren bir selector yaratın:*/
.hakkımızda {
  margin-top: 20px;
  margin-left: 5%;
  margin-right: 5%;
}

.yemek,
.aperatif,
.tatli {
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  gap: 5%;
  margin-top: 20px;
}

.yemek img {
  width: 35%;
}

.aperatif img {
  height: 350px;
}

.aperatif div {
  width: 70%;
  margin-top: 40px;
}

.tatli img {
  width: 55%;
}

.tatli div {
  margin-top: 7%;
}
.contact-section {
  border-bottom: 1px dashed black;
  padding: 20px 0;
}

.contact-section h2,
address {
  padding: 0;
  margin: 0 5% 10px 5%;
}

/*======= contact-section class'da address tag'i için aşağdıaki stilleri içeren bir selector yaratın:*/
address {
  line-height: 2;
}

footer {
  width: 100%;
  background: #e79947;
  border-top: 1px dashed white;
}

/* footer .footer-content {
  margin: 0 auto; 
  ======= width property yaratın. Değerini 605px olarak atayın 
  width: 605px;
} */

footer .footer-content h3 {
  padding: 0;
  /* margin: 20px 0; */
  padding-left: 5%;
}

footer nav {
  display: flex;
  padding-left: 5%;
}

/*======= Footer'daki anchor tag için aşağıdaki stilleri içeren bir selector yaratın:*/
footer nav a {
  margin: 20px;
  color: black;
  text-decoration: underline;
}

footer .footer-content p {
  margin-bottom: 0;
}

footer nav a:first-child {
  margin-left: 0;
}

/*======= Footer nav'daki anchor tag için aşağıdaki stilleri içeren bir hover state yaratın:*/
footer nav a:hover {
  color: white;
}

footer .footer-content .copyright {
  padding: 20px 0 0 0;
  /*======= metni ortalayacak kodu yazın */
  text-align: center;
}